<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-lesson-timetable-teacher-heading" data-cy="LessonTimetableTeacherCreateUpdateHeading">
        Create or edit a Lesson Timetable Teacher
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_pay">Pay</label>
          <input type="number" class="form-control" name="pay" id="field_pay" data-cy="pay" formControlName="pay" />
          <div *ngIf="editForm.get('pay')!.invalid && (editForm.get('pay')!.dirty || editForm.get('pay')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('pay')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('pay')?.errors?.number"> This field should be a number. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_lessonTimetable">Lesson Timetable</label>
          <select
            class="form-control"
            id="field_lessonTimetable"
            data-cy="lessonTimetable"
            name="lessonTimetable"
            formControlName="lessonTimetable"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                lessonTimetableOption.id === editForm.get('lessonTimetable')!.value?.id
                  ? editForm.get('lessonTimetable')!.value
                  : lessonTimetableOption
              "
              *ngFor="let lessonTimetableOption of lessonTimetablesSharedCollection; trackBy: trackLessonTimetableById"
            >
              {{ lessonTimetableOption.lessonName }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_internalUser">Internal User</label>
          <select class="form-control" id="field_internalUser" data-cy="internalUser" name="internalUser" formControlName="internalUser">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="userOption.id === editForm.get('internalUser')!.value?.id ? editForm.get('internalUser')!.value : userOption"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.login }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
