<div>
  <h2 id="page-heading" data-cy="LessonHeading">
    <span>Lessons</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-lesson"
        [routerLink]="['/lesson/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Lesson </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="lessons?.length === 0">
    <span>No lessons found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="lessons && lessons.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Lesson Name</span></th>
          <th scope="col"><span>Start At</span></th>
          <th scope="col"><span>End At</span></th>
          <th scope="col"><span>Day Of Week</span></th>
          <th scope="col"><span>Desciption</span></th>
          <th scope="col"><span>Created At</span></th>
          <th scope="col"><span>Active</span></th>
          <th scope="col"><span>Subject</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lesson of lessons; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/lesson', lesson.id, 'view']">{{ lesson.id }}</a>
          </td>
          <td>{{ lesson.lessonName }}</td>
          <td>{{ lesson.startAt | formatMediumDatetime }}</td>
          <td>{{ lesson.endAt | formatMediumDatetime }}</td>
          <td>{{ lesson.dayOfWeek }}</td>
          <td>{{ lesson.desciption }}</td>
          <td>{{ lesson.createdAt | formatMediumDatetime }}</td>
          <td>{{ lesson.active }}</td>
          <td>
            <div *ngIf="lesson.subject">
              <a [routerLink]="['/subject', lesson.subject?.id, 'view']">{{ lesson.subject?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/lesson', lesson.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/lesson', lesson.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(lesson)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
