<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="lesson">
      <h2 data-cy="lessonDetailsHeading"><span>Lesson</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ lesson.id }}</span>
        </dd>
        <dt><span>Lesson Name</span></dt>
        <dd>
          <span>{{ lesson.lessonName }}</span>
        </dd>
        <dt><span>Start At</span></dt>
        <dd>
          <span>{{ lesson.startAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span>End At</span></dt>
        <dd>
          <span>{{ lesson.endAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Day Of Week</span></dt>
        <dd>
          <span>{{ lesson.dayOfWeek }}</span>
        </dd>
        <dt><span>Desciption</span></dt>
        <dd>
          <span>{{ lesson.desciption }}</span>
        </dd>
        <dt><span>Created At</span></dt>
        <dd>
          <span>{{ lesson.createdAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Active</span></dt>
        <dd>
          <span>{{ lesson.active }}</span>
        </dd>
        <dt><span>Subject</span></dt>
        <dd>
          <div *ngIf="lesson.subject">
            <a [routerLink]="['/subject', lesson.subject?.id, 'view']">{{ lesson.subject?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/lesson', lesson.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
