<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="lessonTimetableStudent">
      <h2 data-cy="lessonTimetableStudentDetailsHeading"><span>Lesson Timetable Student</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ lessonTimetableStudent.id }}</span>
        </dd>
        <dt><span>Pay</span></dt>
        <dd>
          <span>{{ lessonTimetableStudent.pay }}</span>
        </dd>
        <dt><span>Student</span></dt>
        <dd>
          <div *ngIf="lessonTimetableStudent.student">
            <a [routerLink]="['/student', lessonTimetableStudent.student?.id, 'view']">{{ lessonTimetableStudent.student?.firstName }}</a>
          </div>
        </dd>
        <dt><span>Lesson Timetable</span></dt>
        <dd>
          <div *ngIf="lessonTimetableStudent.lessonTimetable">
            <a [routerLink]="['/lesson-timetable', lessonTimetableStudent.lessonTimetable?.id, 'view']">{{
              lessonTimetableStudent.lessonTimetable?.lessonName
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/lesson-timetable-student', lessonTimetableStudent.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
