<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="subject">
      <h2 data-cy="subjectDetailsHeading"><span>Subject</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ subject.id }}</span>
        </dd>
        <dt><span>Subject Name</span></dt>
        <dd>
          <span>{{ subject.subjectName }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ subject.description }}</span>
        </dd>
        <dt><span>Created At</span></dt>
        <dd>
          <span>{{ subject.createdAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Active</span></dt>
        <dd>
          <span>{{ subject.active }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/subject', subject.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
